<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TREVOR - A Virtual Assistant</title>
    <link rel="shortcut icon" href="avatar.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <section class="main">
        <div class="image-container">
            <div class="image" >
                <img src="../static/c.gif" alt="image">
            </div>
            <h1>T R E V O R</h1>
            <p>I'm a Virtual Assistant TREVOR, How may I help you?</p>
        </div>
        <div class="input">
            <button id="talkButton" class="talk"><i class="fas fa-microphone-alt"></i><h1 id = "statusText" class="content">Click me to speak</h1></button>
        </div>
    </section>
    
    <!-- Your HTML code -->
<script>
    document.getElementById('talkButton').addEventListener('click', function () {
        fetch('/start_trevor_ai')
            .then(response => response.json())
            .then(data => {
                console.log('Received message:', data.message);
                updateStatus(data.message);
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });

    function updateStatus(message) {
        document.getElementById('statusText').innerText = message;
    }

    const eventSource = new EventSource("/stream");
    
    eventSource.addEventListener('update', function (event) {
        const eventData = JSON.parse(event.data);
        updateStatus(eventData.message);
    });
</script>

</body>

</html>
